:root{
   --primary: #d81e5b;
   --secondary: #8c38ff;
   --dark: #131a26;
   --light: #eee;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light);
  font-family: 'Rubik', sans-serif;
}

.calculator {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0px 8px 3px grey;
}

.title {
  padding: 24px;
  font-size: 36px;
  font-weight: 400;

}

.display {
  background-color: var(--dark);
  color: var(--light);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  text-align: right;
  padding: 22px;
  font-size: 24px;
}

.display span {
  font-size: 14px;
  margin: 12px;
  color: rgba(128, 128, 128, 0.979);
}

button {
  appearance: none;
  padding: 16px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
}

.digits { 
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.3333%;
  max-width: 33.333%;
  background-color: var(--dark);
}